<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">


  <xacro:macro name="tables">

    <link name="big_table" >
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://apple_proxy/meshes/furniture/collision/UR5_big_table.STL" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="Grey">
          <color rgba="0.5 0.5 0.5 1.0"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://apple_proxy/meshes/furniture/collision/UR5_big_table.STL" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
    </link>


    <link name="joes_ur5_table" >
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://apple_proxy/meshes/furniture/collision/joes_ur5_table.STL" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="Grey">
          <color rgba="0.5 0.5 0.5 1.0"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://apple_proxy/meshes/furniture/collision/joes_ur5_table.STL" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
    </link>


    <link name="sphere" >
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://apple_proxy/meshes/suction_experiment/visual/sphere_base_75mm.STL" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="Red">
          <color rgba="1 0 0 1"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://apple_proxy/meshes/suction_experiment/visual/sphere_base_75mm.STL" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
    </link>


    <link name="test_rig" >
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://apple_proxy/meshes/suction_experiment/visual/experiment_1_1cup_body.STL" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="Grey">
          <color rgba="0.5 0.5 0.5 1.0"/>
        </material>
      </visual>
      <collision>
        <origin xyz="-0.025 0 0.085" rpy="-1.5708 0 0"/>
        <geometry>
          <mesh filename="package://apple_proxy/meshes/suction_experiment/collision/suction_rig_collision_model.STL" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
    </link>


    <link name="suction_cup_model" >
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://apple_proxy/meshes/suction_experiment/visual/suction_cup_fbx20_visual.STL" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="Blue">
          <color rgba="0 0 1.0 1.0"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0.004 0.029 0" rpy="1.5708 0 0"/>
        <geometry>
          <mesh filename="package://apple_proxy/meshes/suction_experiment/collision/suction_cup_fbx20_collision.STL" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
    </link>




  </xacro:macro>
</robot>
