<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro"
       name="ur5e_robot" >

    <xacro:arg name="transmission_hw_interface" default="hardware_interface/PositionJointInterface"/>



    <!-- STEP 1: IMPORT THE URDF XACROS -->
    <!-- ur5e -->
    <xacro:include filename="$(find suction-gripper)/urdf/ur5e.xacro" />
    <!--  Tables and Walls -->
    <xacro:include filename="$(find suction-gripper)/urdf/scene_D.xacro" />
    <xacro:tables />


    <!-- STEP 2: DEFINE THE INTERFACES AMONG ALL THE LINKS FROM -->
    <!-- Here is where you define the scene and how the cframes are related -->

    <link name="world"  />
    <link name="eef" doc="point at ___cm from the palm"    />      

    <!-- Describe the interface between the robot and the gripper -->
    <!-- The gripper is rotated -15deg (-0.261rad) w.r.t. tool -->
    <joint name="robotiq_coupler_joint" type="fixed">
    <parent link="tool0" />
    <child link="suction_gripper" />
    <origin xyz="0 0 0.162" rpy="1.5708 0 -0.261" />
    </joint>

    <!-- Describe the interface between the world and the tables -->
    <joint name="world_big_table" type="fixed">
    <parent link="world" />
    <child link="big_table" />
    <origin xyz="0 0 0" rpy="0 0 1.5708" />
    </joint>

    <joint name="world_small_table" type="fixed">
    <parent link="world" />
    <child link="small_table" />
    <origin xyz="0 -1.35 0" rpy="0 0 1.5708" />
    <!-- <origin xyz="-0.155 -1.50 0" rpy="0 0 1.5708" /> -->
    <!-- <origin xyz="-0.155 -1.65 0" rpy="0 0 1.5708" />    -->

    </joint>



    <!-- Describe the interface between the world and the Apple Proxy -->
    <joint name = "bigTable_simpleProxy" type="fixed"> 
    <parent link = "big_table" /> 
    <child link = "apple_proxy" /> 
    <origin xyz = "0.4572 0.63 0.895" rpy="1.5708 0 -1.5708" />
    </joint>

    
    <!-- Describe the interface between the world and the robot" -->
    <joint name="world_joint" type="fixed">
    <parent link="small_table" />
    <child link = "base_link" />
    <origin xyz="0.35 0.357 0.858" rpy="0.0 0.0 0.0" />
    </joint>


    <!-- Describe the location of the tip of the suction gripper -->
    <!-- Offsets: Originally 2cm -->
    <joint name="ideal_eef" type="fixed">
    <parent link="suction_gripper" />
    <child link="eef" />
    <origin xyz="0 0 0.6" rpy="-1.5708 0 0" />
    </joint>
    

</robot>
